a{
   text-decoration: none;
   color:black;
}
body{
    background:#f5f5f5 ;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial
}

/* info start */
.featuers-box{
    border: 1px solid red;
}
.features-box{
    overflow: hidden;
    padding: 0px;
    width: 100%;
    margin: auto;
    padding: 0px 0;
    background: #fff;
    margin-bottom: 0px; 
   
}

.featurex-box{
    display: flex;
    justify-content: center;
    text-align:center;

}




    


/* car start */
.car-categorius{
    
    display: flex;
    justify-content: space-between;
}

.car-title h2{
    color: #fff;
    /* font-size: 22px; */
    font-weight: 500;
    margin-bottom: 0px;
    padding: 18px 25px 15px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #23292e;
    margin-top: 0px;
    min-width: 250px;
}
/* cars end */

/* newsletter start */
.forum{
    display: flex;
    justify-content: center;
    text-align: center;
    padding:25px;
}
.button{
    padding: 20px;
    background: yellow;

}
.subscribe:hover{
    background: black;
    color: white;
}
.newsletter-content{
    background: url(http://themesground.com/harrier-demo/V1/images/newsletter-bg.jpg);
    padding: 40px;
}

.newsletter-content h5{
    margin: 0px;
    margin-bottom: 10px;
    /* display: block; */
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #fbe122;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.newsletter-content h4{
    margin-bottom: 23px;
    display: block;
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1;
    

}
.Newsletter .col-12{
    text-align: center;

}
/* newsletter end  */

/* navbar start */
#navbar{
    padding: 15px 0px;
    font-family: 'Saira Condensed', sans-serif;
    }
.navbar-container{
     width: 1100px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
    }
   
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.navbar-nav ul li a{
    padding: 0px 15px;
    

} 
.navbar-nav ul{
    display: flex;
    align-items: center;
    font-weight: 700;
}
/* seller section start */

    
.seller-container{
    margin-right: auto;
    margin-left: auto;
}
.seller-content{
    display: flex;
    justify-content:space-between;
    
}


.seller-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}
.seller-header h2{color: #fff;
font-size: 22px;
font-weight: 500;
margin-bottom: 0px;
padding: 22px 25px 22px 25px;
position: relative;
display: inline-block;
font-family: 'Saira Condensed', sans-serif;
letter-spacing: 1px;
text-transform: uppercase;
background: #50b2fc;
margin-top: 0px;
min-width: 250px;
}
