* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish',sans-serif;
  }
  
  #container {
    height: 100vh;
    width: 100%;
    background: #eaf5ff;
    position: relative;
    background-color: #000;
  }
  #navbar {
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    position: absolute;
    top: 0;
    left: 5%;
    background: #4C4C4C;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
  }
  #navbar ul,ol{
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 25px 0px;
  }
  ul {
    position: absolute;
    left: 5%;
    
  }
  ol {
    position: absolute;
    right: 5%;
    
  }
  li {
    margin-top: 0px 60px;
    padding-right: 20px;
  }
  li a {
    transition: 0.5s;
    text-decoration: none;
    color: #e2e2e2;
  }
  li a:hover{
      color: #000;
  }
  #logo h2{
      position: relative;
      font-size: 50px;
      left: 380px;
      color: rgb(230, 15, 15);
      top: 20px;
  }
  #logo h2 span{
      color: #e2e2e2;
  }
  
  
  
  
  body{
    padding: 0;
    margin: 0;
    background-color: black;
  }
  .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .images{
    width: 400px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
  }
  .images img{
    width: 100%;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
  }
  
  #container {
    height: 100vh;
    width: 100%;
    background: #eaf5ff;
    position: relative;
    background-color: rgba(19, 9, 9, 0.918);
  }
  #navbar {
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    position: absolute;
    top: 0;
    left: 5%;
    background: #4c4c4c;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
  }
  #navbar ul,
  ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
  }
  ul {
    position: absolute;
    left: 5%;
  }
  ol {
    position: absolute;
    right: 5%;
  }
  li {
    margin-top: 0px 60px;
    padding-right: 20px;
  }
  li a {
    transition: 0.5s;
    text-decoration: none;
    color: #e2e2e2;
  }
  li a:hover {
    color: #000;
  }
  #logo h2 {
    position: relative;
    font-size: 50px;
    left: 380px;
    color: rgb(230, 15, 15);
    top: 20px;
  }
  #logo h2 span {
    color: #e2e2e2;
  }
  .contact-container {
    width: 80%;
    padding-top: 130px;
    margin-left: 166px;
  }
  .contact-box {
    background-color: #fff;
    display: flex;
    box-shadow: 1px 6px 6px 0px rgba(0, 0, 0, 0.8);
  }
  .contact-left {
    background-color: #fdfdfd;
    flex-basis: 60%;
    padding: 40px 60px;
  }
  .contact-left h3 {
    color: #481c01;
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  .contact-right {
    background-color: #481c01;
    flex-basis: 40%;
    padding: 40px 60px;
  }
  .row{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  .row .input-group{
      flex-basis: 45%;
  }
  .row .input-group input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #481c01;
  }
  textarea{
      width: 100%;
      border: 1px solid #481c01;
  }
  label{
      margin-bottom: 7px;
      display: block;
      font-weight: 500;
      color: #481c01;
  }
  button{
      border: none;
      outline: none;
      width: 100px;
      background-color: #481c01;
      color: #f7d6c2;
      margin-top: 10px;
      padding: 10px;
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
  }
  table tr td{
      color: #f7d6c2;
      padding-top: 40px;
      min-width: 30px;
      vertical-align: top;
  }
  table tr td a {
  text-decoration: none;
  margin-right: 5px;
  }
  table tr td a i{
      color: #f7d6c2;
      font-size: 24px;
      
  }