height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
}

.clock {
width: 600px;
height: 600px;
background-image: url(image/300px-Horloĝo_001.svg.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
}
